<fieldset>
  <legend>Schedule a Game</legend>
  <form (ngSubmit)="newGame()">
    <!--should integrate cross-browser support on this date field-->
    <!--also consider standardizing the time data, converting to local as desired-->
    <p>Game Time: <input type="datetime-local" name="gameForm.time" [(ngModel)]="gameForm.time"></p>
    <p>Club: <input type="text" name="gameForm.club" [(ngModel)]="gameForm.club"></p>
    <p>Field: <input type="text" name="gameForm.field" [(ngModel)]="gameForm.field"></p>
    <button type="button" (click)="clearForm()">Clear</button>
    <input type="submit" value="Submit">
  </form>
  <div *ngIf="errors">
    <p *ngFor="let error of errors">{{error}}</p>
  </div>
</fieldset>

<div *ngIf="games">

  <div>
    <h1>Upcoming Games</h1>
    <select (change)="setGame($event)">
      <option *ngFor="let game of games" value="{{game._id}}">{{game.time | date:"MM/d h:mm a"}} - {{game.club}}</option>
    </select>
  </div>

  <div *ngIf="selectedGame">

    <h3>{{selectedGame.time | date:"M/d h:mm a"}} @ {{selectedGame.club}}<span *ngIf="selectedGame.field">, field {{selectedGame.field}}</span></h3>
    
    <table border=1>
      <tr>
        <th>Player</th>
        <th>Player Status</th>
      </tr>
    <tr *ngFor="let _status of selectedGame.player_status; let i = index">
      <td>{{_status.player.name}}</td>
      <td>
        <button (click)="setPlayerStatus(i, 'starting')" [class.starting-active]="_status.status == 'starting'">starting</button>
        <button (click)="setPlayerStatus(i, 'benched')" [class.benched-active]="_status.status == 'benched'">benched</button>
        <button (click)="setPlayerStatus(i, 'absent')" [class.absent-active]="_status.status == 'absent'">absent</button>
      </td>
    </tr>
    </table>
  </div>

</div>